#home-page(data-role='page', data-theme='a')
  | {{>nav-bar {active_button: '#/'}}}
  
  .container
    .row
      .col-sm-12
        img(
          src="img/aktos-logo-long.png"
          style="width: 100%; "
        )
    .row
      .col-sm-offset-1.col-sm-4.home-col-padding
        | {{#with page.home.aboutUs}}
        h2 {{ .header }}
        | {{{ marked( .bodyShort ) }}}
        | {{/with}}
      .col-sm-offset-1.col-sm-4.col-sm-offset-1.home-col-padding
        h2 Etkinlikler
        | {{#each page.home.news }}
        h3 {{ .header }}
        | {{{ marked( .bodyShort ) }}}
        | {{/each}}
        
  | {{>connection-status {}}}
